<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!--Tab ganhos -->
  <ion-tab title="Ganhos" icon-off="ion-happy-outline" icon-on="ion-happy" href="#/tab/ganhos">
    <ion-nav-view name="tab-ganhos"></ion-nav-view>
  </ion-tab>

  <!--Tab despesas -->
  <ion-tab title="Despesas" icon-off="ion-sad-outline" icon-on="ion-sad" href="#/tab/despesas">
    <ion-nav-view name="tab-despesas"></ion-nav-view>
  </ion-tab>

  <!-- Tab conta -->
  <ion-tab title="Conta" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/conta">
    <ion-nav-view name="tab-conta"></ion-nav-view>
  </ion-tab>
</ion-tabs>
