/* Empty. Add your own CSS if you like */
ion-footer-bar input[type=number]{
    width: 20%;
}
ion-footer-bar input[type=text]{
    width: 70%;
}
ion-footer-bar button{
    width: 10%;
}
.header-icon{
  font-size: 18px
}
.center{
     text-align:center;
}
